<div id = 'footer'>
    <div id = 'footer-body'> 
        <div class = 'footer-body-text'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi velit debitis necessitatibus itaque possimus, omnis corporis illum. Nostrum facilis quaerat amet. Quasi beatae fuga a natus provident placeat distinctio, eveniet minima ad quaerat ea maxime deleniti quia laboriosam autem nemo explicabo unde molestiae et deserunt molestias adipisci quae necessitatibus! Eveniet.
        </div>      
        <ul class = 'footer-nav'>
            <li><a href='home'> Home </a></li>
            <li><a href='about'>about </a></li>
            <li><a href='contact'>contact </a></li>
            <li><a href='logIn'> log in</a></li>
            <li><a href='privacy & policy'> privacy & policy </a></li>
            <li><a href='signUp'>sign up </a></li>
        </ul>       
    </div>
    <div id = 'footer-copywrite'>copywrite content goes here...</div>
</div>