
    <div id = 'header'>
        <img src='../RIDE & SHINE.png' id = 'img'/>
        <ul>
            <li><a href = '/'>Home</a></li>
            <li><a href = '/about'>About</a></li>
            <li><a href = '/content'>content</a></li>
            <li><a href = '/contact'>contact</a></li>
            <li><a href = '/logIn'>log in</a></li>
            <li><a href = '/signUp'>sign up</a></li>
        </ul>

    </div>
